@model WebshopDemo.Sales.Queries.ActiveCart.ActiveCart

@{
    ViewData["Title"] = "My Cart";
}

    <div class="text-center">
        <h1 class="display-4">My Cart</h1>
        @if (Model.Items.Any())
        {

            <table>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity) x 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td>
                            @if (item.LastPrice != null)
                            {
                                <del>@Html.DisplayFor(modelItem => item.LastPrice.Amount) @Html.DisplayFor(modelItem => item.LastPrice.Currency)</del>
                            }
                            @Html.DisplayFor(modelItem => item.CurrentPrice.Amount) @Html.DisplayFor(modelItem => item.CurrentPrice.Currency)
                        </td>
                        <td>
                            <a href="/Cart/Remove/?productID=@item.ProductID">Remove item</a>
                        </td>
                    </tr>
                }
            </table>

        }
    </div>
